@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600&family=Raleway:wght@300;400;600&display=swap');
body {
    background-image: url(../img/welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 100%;
	padding-left: 0;
}
.welcome-form {
   max-width: 85%;
    margin: 0;
    height: 100%;
    background-color: #ffffff;
    padding: 63px 60px 28px 60px;
    border-radius: 0 70px 70px 0;
}
.welcome-form h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.terms-links p a {
    color: #ffffff;
    font-size: 20px;
	font-weight: 600;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.terms-links p a:hover {
    color: #40B4E7;
}
.terms-links p {
    align-self: flex-end;
    color: #ffffff;
    margin: 0 auto;
}
.terms-links {
    height: 660px;
    width: 100%;
    display: flex;
}
.form-group {
    margin-bottom: 20px;
    margin-right: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.form-group label {
    display: block;
    font-weight: bold;
    font-family: 'Karla';
    color: #3D3E3F;
    font-size: 24px;
    font-weight: 400;
}
.form-check label a {
    color: #40B4E7;
    text-decoration: none;
}
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group input[type="password"] {
    width: 100%;
    background-color: #E9EAEB;
    padding: 11px 24px;
    font-family: 'Karla';
    color: #3D3E3F;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    }
.form-group button {
    width: 100%;
    padding: 4px;
    border: none;
    background-color: #40B4E7;
    color: #fff;
    border-radius: 10px;
    font-size: 32px;
    font-family: 'Raleway';
    cursor: pointer;
	transition: 0.3s;
}
.form-group button:hover {
    background-color: #00A6C0;
    transition: 0.3s;
}
.choose-opt .form-group {
    margin-right: 35px;
}
    .form-group .social-icons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .form-group .social-icons a {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 0 5px;
      background-color: #007bff;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      line-height: 30px;
      transition: background-color 0.3s ease-in-out;
    }

    .form-group .social-icons a:hover {
      background-color: #0056b3;
    }
	.bottom-links p,
	.bottom-links span{
	  text-align: center;
	}
.logo {
    text-align: center;
    margin-top: 80px;
}
.choose-opt {
    display: flex;
    align-items: center;
}
.bottom-links {
    text-align: center;
    color: #3D3E3F;
    font-family: 'Karla';
    font-size: 20px;
    margin-top: 30px;
}
.bottom-links p a, .bottom-links span a {
    color: #40B4E7;
    text-decoration: none;
}
.footer-text {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
hoose-opt .form-group {
    margin-right: 40px;
}
.form-check-input[type=radio] {
    height: 30px;
    width: 30px;

}
.form-check-input[type=radio]:checked {
    border: none;
	background-color: #ABD3E5;
	position: relative;
}
.form-check-input[type=radio]:checked:focus,
.form-check-input[type=checkbox]:checked:focus{
    box-shadow: none;
}
.form-check-input[type=radio]:checked:after {
    content: '';
    width: 17px;
    height: 17px;
    background-color: #40B4E7;
    position: absolute;
    border-radius: 30px;
    left: 6.4px;
    top: 6px;
	z-index: 100;
}
.choose-opt .form-check label {
    padding-left: 20px;
}
.form-group.social-icons svg {
    width: 38px;
    height: 38px;
    margin-left: 26px;
    color: #40B4E7;
	transition: 0.3s;
}
.form-check-input[type=checkbox] {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    margin-right: 16px;
}
.form-check-input:checked[type=checkbox] {
    background-color: transparent;
    background-image: url(../img/vector.png);
    background-size: 79%;
    border-color: #40B4E7;
}
.form-group.social-icons svg:hover {
    color: #00A6C0;
    transition: 0.3s;
}
.form-group.copyright {
    margin-top: 10px;
}
.form-group.copyright p {
    color: #8F9090;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}
input:focus-visible {
    background-color: #ABD3E5 !important;
}
.mob-logo{
    display: none;
}
.link-mob {
    display: none;
}
.intl-tel-input {
    position: relative;
    display: inline-block;
    width: 100%;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
    width: 78px;
    background: transparent;
}
.modal-dialog {
    max-width: 48%;
    margin: 0;
}
.code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }

  .code {
    caret-color: transparent;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    width: 75px;
    height: 80px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
  }
/*Media Queries Start Here*/
@media only screen and (min-width: 1286px) and (max-width: 1450px)  {
    body {
      background-image: url(../img/Welcome2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
  }
    .welcome-form {

      margin: 0;
      height: 100%;
      background-color: #ffffff;
      padding: 63px 60px 28px 60px;
      border-radius: 0 70px 70px 0;
  }
  .terms-links {
    height: 800px;
    width: 100%;
  display: flex;
  }
  }

  @media only screen and (min-width: 1201px) and (max-width: 1285px)  {
    .code-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0;
      }
      .welcome-form {

        margin: 0;
        height: 100%;
        background-color: #ffffff;
        padding: 63px 60px 28px 60px;
        border-radius: 0 70px 70px 0;
    }
      .code {
        caret-color: transparent;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        border: 1px solid #eee;
        font-size: 30px;
        font-family: "Lato", sans-serif;
        width: 65px;
        height: 60px;
        margin: 10px;
        text-align: center;
        font-weight: 300;
      }
      .terms-links {
        height: 630px;
        width: 100%;
      display: flex;
      }
  }
@media only screen and (min-width: 951px) and (max-width: 1200px)  {
 .welcome-form {
    border-radius: 0;
    padding: 78px 0 0 0;
    max-width: 50%;
    margin: auto;
    height: 85vh;
}
	body {
    background-image: unset;
	}
	.loginform .col-md-6 {
    width: 100%;
    max-width: 100%;
    flex: 100%;
    padding: 0;
    }
	.terms-links p a,
    .form-group.copyright p{
    color: #8F9090;
    font-size: 18px;
    }
	.hide-col {
    display: none;
	}
    .mob-logo {
    display: block;
    position: absolute;
    left: 70px;
    top: 50px;
    }
    .loginform .form-group.copyright,
    .loginform .form-group.social-icons{
    display: none;
    }
    .link-mob .terms-links {
    height: auto;
    }
   .link-mob {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    flex-wrap: wrap;
}
    .footer-text {
    margin-top: 0;
    }
    .form-group.copyright {
    margin-top: 20px;
    margin-left: 20px;
    }
    .form-group.social-icons svg {
    margin-left: 14px;
    }
    .logom{
        width: 180px
        ;
        height: 100px;
    }
}
@media screen and (max-width: 950px) {
      .terms-links p {
    text-align: center;
    }

    .welcome-form {
        max-width: 305PX;
        margin: auto;
        height: 96VH;
        background-color: #ffffff;
        padding: 50px 10px 10px 10px;
        border-radius: 0 70px 70px 0;
    }
	body {
    background-image: unset;
	}
	.loginform .col-md-6 {
    width: 100%;
    max-width: 100%;
    flex: 100%;
    }
	.terms-links p a,
    .form-group.copyright p{
    color: #8F9090;
    font-size: 18px;
    }
	.hide-col {
    display: none;
	}
    .mob-logo {
    display: block;
    position: absolute;
    left: 70px;
    top: 50px;
    }
    .loginform .form-group.copyright,
    .loginform .form-group.social-icons{
    display: none;
    }
    .link-mob .terms-links {
    height: auto;
    }
    .link-mob {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    .footer-text {
    margin-top: 0;
    }
    .form-group.copyright {
    margin-top: 20px;
    margin-left: 20px;
    }
    .form-group.social-icons svg {
    margin-left: 14px;
    }
  .logom {
    width: 180px;
    height: 372px;
    position: relative;
    right: 12px;
    display: flex;
    flex-wrap: wrap;
    display: none;
}

}


@media screen and (max-width: 820px) {
    .mob-logo {
    left: 30px;
    }
    .link-mob {
    flex-direction: column-reverse;
    }
    .link-mob .col-md-3 {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    }
    .form-group label {
    font-size: 18px;
    }
    .form-check-input[type=radio] {
    height: 26px;
    width: 26px;
    }
    .choose-opt .form-check label {
    padding-top: 3px;
    }
    .form-check-input[type=radio]:checked:after {
    left: 5px;
    top: 5.5px;
    width: 15px;
    height: 15px;
    }
    .form-check-input[type=checkbox] {
    width: 23px;
    height: 23px;
    }
    .form-group button {
    margin-top: 17px;
    }
    .welcome-form {
        max-width: 305PX;
        margin: auto;
        height: 96VH;
        background-color: #ffffff;
        padding: 50px 10px 10px 10px;
        border-radius: 0 70px 70px 0;
    }
}
@media screen and (max-width: 750px) {
    .mob-logo {
    position: initial;
    text-align: center;
    margin-top: 41px;
    display: none;
    }
    .welcome-form {
    padding-top: 40px;
    }
    .link-mob {
    padding: 0px 20px;
    }
    .welcome-form {
        max-width: 305PX;
        margin: auto;
        height: 90VH;
        background-color: #ffffff;
        padding: 50px 10px 10px 10px;
        border-radius: 0 70px 70px 0;
    }
}
@media (max-width: 600px) {
    .code-container {
      flex-wrap: wrap;
    }
    .code {
      font-size: 24px;
      height: 50px;
      max-width: 50px;
      font-size: bold;
    }

    .logo img {
      display: none;
    }
    .welcome-form {
        max-width: 305PX;
        margin: auto;
        height: 90VH;
        background-color: #ffffff;
        padding: 50px 10px 10px 10px;
        border-radius: 0 70px 70px 0;
    }
    .Verifying {
      font-size: 2rem;
    }
    .spinner {
      width: 60px;
      height: 60px;
      position: relative;
      top: 1rem;
      right: 0rem;
      color: #00a6c0 !important;
    }
  }

@media screen and (max-width: 565px) {
    .mob-logo {
    display: none;
    }
    .welcome-form {
        max-width: 305PX;
        margin: auto;
        height: 70VH;
        background-color: #ffffff;
        padding: 200px 10px 10px 10px;
        border-radius: 0 70px 70px 0;
    }
.loginform .col-md-6 {
    width: 100%;
    max-width: 100%;
    flex: 100%;
    PADDING: 0;
}
     .form-group .form-check {
    margin-right: 0px;
    }
    .choose-opt .form-group {
    margin-right: 0px;
    }
    .choose-opt {
    justify-content: space-between;
    }
}

@media screen and (max-width: 400px) {
    .form-group button {
    padding: 6px 0;
    font-size: 24px;
    }
    .bottom-links {
    font-size: 16px;
    }
    .terms-links p a, .form-group.copyright p {
    color: #8F9090;
    font-size: 16px;
    }
    .form-group.social-icons svg {
    margin-left: 0;
    margin: 12px 17px;
    }
    .choose-opt .form-check label {
    padding-left: 10px;
    }
    .form-group.copyright {
    margin-left: 0;
    }
    .welcome-form {
        max-width: 305PX;
        margin: auto;
        height: 88VH;
        background-color: #ffffff;
        padding: 50px 10px 10px 10px;
        border-radius: 0 70px 70px 0;
    }
}

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        position: absolute;
        top: 11.4rem;
        left: 14rem;
        font-size: 0.7rem;
    }


